$text-color:#050B20;
$button-color:#405FF2;
$grey-background:#FFE9F3;


@mixin repetad_display{
    display: flex;
    justify-content: space-between;
}


@mixin center_elements{
margin-left: auto;
margin-right: auto;

}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }
  