@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", serif;
  color: $text-color;
}

header {
  .header_container {
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include repetad_display;
    padding: 25px 0px 10px 0px;

    .header_logo {
      display: flex;
      gap: 15px;
      height: 1px;
      h1 {
        font-size: 31px;
      }
      p {
        font-size: 16px;
        margin-top: 10px;
      }
    }
    .header_menu {
      select {
        background-color: #405ff2;
        color: white;
        width: 120px;
        height: 40px;
        font-size: 16px;
        font-weight: 900;
        border: none;
        border-radius: 12px;
        option {
          text-align: center;
        }
      }
    }
    .nav_links {
      @include repetad_display;
      gap: 15px;

      a {
        text-decoration: none;
        font-size: 16px;
        margin-top: 5px;
        font-weight: 500;
        img {
          margin-top: 5px;
          margin-right: 5px;
        }
        &:hover {
          font-size: 17px;
          font-weight: 700;
        }
      }
    }

    .header_button {
      width: 142.86px;
      height: 47.75px;
      button {
        width: 100%;
        height: 100%;
        padding: 9.13px 15.64px 10.88px 26px;
        border-radius: 16px;
        background-color: white;

        a {
          text-decoration: none;
        }
        &:hover {
          background-color: green;
          a {
            color: white;
          }
        }
      }
    }
  }
}

.first_section {
  background-color: $grey-background;
  padding: 150px 0px 50px 0px;

  .home_info {
    width: 800px;
    .home_info_text {
      text-align: center;
      h1 {
        font-size: 70px;
        margin: 50px 0px 50px 0px;
      }
    }
    .search {
      width: 100%;
      height: 75px;
      @include repetad_display;
      gap: 50px;
      background-color: white;
      border-radius: 80px;
      padding: 25px 25px 0px 15px;
      a {
        margin-top: 10px;
        text-decoration: none;
        font-weight: 400;
      }
      .search_input {
        @include repetad_display;
        gap: 10px;
        a {
          font-weight: 400;
        }
        input {
          height: 35px;
          width: 220px;
          margin-top: 10px;
        }
        img {
          width: 55px;
          height: 55.75px;
        }
      }
    }

    .home_img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.second_section {
  margin-top: 100px;
  .parent_second_section {
    width: 100%;
    .browsing_type {
      width: 100%;
      @include repetad_display;
      padding: 0px 20px 0px 20px;
      .type_box {
        width: 80px;
        height: 80px;
        border-radius: 16px;
        border: 1px 0px 0px 0px;
        img {
          width: 100%;
          height: 100%;
        }
        &:hover {
          width: 90px;
          height: 90px;
        }
      }
    }
  }

  .browsing_type_box_parent {
    margin-top: 100px;
    width: 100%;
    padding-top: 50px;
    gap: 20px;

    @include repetad_display;
    .browsing_type_box {
      height: 300px;
      width: 520px;
      background-color: $grey-background;
      padding: 50px 20px 20px 40px;
      border-radius: 16px;
      h2 {
        font-size: 30px;
        margin-bottom: 20px;
      }
      p {
        font-size: 15px;
        margin-bottom: 20px;
      }
      .box_bottom {
        @include repetad_display;

        .bottom_box_img {
          width: 100px;
          height: 100px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        button {
          width: 150px;
          height: 55px;
          padding: 10px;
          border-radius: 16px;
          background-color: #405ff2;
          border: none;
          a {
            color: white;
            text-decoration: none;
            img {
              width: 18px;
              height: 18px;
            }
          }
          &:hover {
            width: 155px;
            height: 58px;
          }
        }
        #second_btn {
          background-color: $text-color;
        }
      }
    }
  }

  .most_searched {
    margin-top: 100px;
    h1 {
      @include center_elements;
      text-align: center;
    }

    .most_searched_type {
      margin: 25px auto;
      width: 400px;
      @include repetad_display;
      a {
        text-decoration: none;
        font-weight: 900;
        &:hover {
          text-decoration: underline 4px;
        }
      }
    }

    .most_searched_cards_parent {
      width: 100%;
      display: grid;
      margin: auto;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 50px;
      .most_searched_cards {
        width: 250px;
        height: 400px;
        border-radius: 16px;
        background-color: #050b20;
        &:hover {
          width: 260px;
          height: 410px;
        }

        h4 {
          color: white;
          font-size: 15px;
        }
        p {
          color: white;
          font-size: 14px;
        }

        a {
          color: white;
          text-decoration: none;
        }

        .card_img {
          width: 100%;
          height: 50%;
          img {
            width: 100%;
            height: 100%;
            border-radius: 16px;
          }
        }

        .info_text {
          padding: 5%;
        }
        .card_icons {
          width: 100%;
          height: 40px;
          padding-left: 10%;
          margin-bottom: 4px;
          img {
            width: 65%;
            height: 100%;
          }
        }
        .card_details {
          @include repetad_display;
          padding: 10% 5% 0px 5%;
        }
      }
    }
  }

  .why_choose_us {
    width: 100%;
    background-color: $grey-background;
    margin-top: 100px;
    .parent_why {
      width: 100%;
      padding: 50px 25px 40px 25px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      .card_why {
        width: 250px;
        height: 220px;

        img {
          height: 55px;
          width: 45px;
          margin-top: 35px;
        }
        h3 {
          font-size: 15px;
          margin-top: 10px;
        }
        p {
          margin-top: 10px;
          letter-spacing: 1px;
          font-size: 11px;
        }
      }
    }
  }
}

.third_section {
  margin-top: 150px;

  h1 {
    font-size: 30px;
  }

  .third_section_buttons {
    margin-top: 20px;
    display: flex;
    width: 65%;
    @include repetad_display;
    button {
      background-color: white;
      padding: 8px;
      border-radius: 12px;
      a {
        font-size: 16px;
        color: black;
        text-decoration: none;
      }

      &:hover {
        background-color: $button-color;
        a {
          color: white;
        }
      }
    }
  }

  .who_is_boxcars {
    width: 100%;
    background-color: $button-color;
    border-radius: 12px;
    display: flex;
    padding-left: 5%;
    padding-top: 80px;
    margin-top: 50px;
    .left_boxcars {
      width: 25%;
      height: 240px;

      h2 {
        color: white;
        font-size: 33px;
      }
      p {
        color: white;
        font-size: 14px;
        margin-top: 15px;
        word-spacing: 5px;
      }
    }
    .right_boxcars {
      width: 65%;
      padding-left: 5%;
      height: 260px;
      @include repetad_display;
      .right_boxes {
        border-radius: 12px;
        width: 250px;
        height: 225px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 12px;
        }
      }
    }
  }

  .team {
    margin-top: 100px;
    h1 {
      text-align: center;
      margin-bottom: 50px;
    }

    .team_cards_parent {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      .team_cards {
        width: 200px;
        height: 300px;
        border-radius: 16px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .blog_post {
    margin-top: 200px;
    h1 {
      text-align: center;
      margin-bottom: 50px;
    }
    .blogpost_parent {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .blogpost_card {
        width: 350px;
        height: 400px;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        .blogpost_card_img {
          width: 100%;
          height: 60%;
          img {
            width: 100%;
            height: 100%;
            border-radius: 16px;
          }
        }
        .blog_post_card_text {
          width: 100%;
          height: 40%;
          padding-left: 15px;
          p {
            margin-top: 8px;
          }
          h4 {
            margin-top: 15px;
          }
        }
      }
    }
  }

  .Premium {
    background-color: $grey-background;
    @include repetad_display;
    margin-top: 100px;
    padding: 50px 40px 40px;
    border-radius: 10px;
    .Premium_left {
      width: 370px;
      height: 400px;
      margin-top: 100px;
      h1 {
        text-align: left;
        font-size: 36px;
        margin-bottom: 20px;
      }

      p {
        font-size: 15px;
      }

      button {
        width: 150px;
        height: 50px;
        border-radius: 12px;
        background-color: #405ff2;
        margin-top: 35px;
        padding: 8px;
        a {
          color: white;
          text-decoration: none;
        }
        &:hover {
          width: 160px;
          height: 55px;
          a {
            font-size: 17px;
          }
        }
      }
    }

    .Premium_right {
      width: 547px;
      height: 528px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .join {
    margin: 100px 0px 150px 0px;
    h1,
    p {
      text-align: center;
      margin-bottom: 40px;
    }

    .joining_form {
      width: 567px;
      height: 60px;
      padding: 11px 11px 11px 12px;
      border-radius: 16px;
      border: 1px solid black;
      display: flex;
      margin: auto;

      input {
        width: 80%;
        height: 100%;
        border-radius: 12px;
        font-size: 30px;
      }
      button {
        width: 20%;
        height: 100%;
        border-radius: 12px;
        background-color: #405ff2;
        a {
          color: white;
          font-size: 16px;
          font-weight: 700;
          text-decoration: none;
        }
        &:hover {
          width: 21%;
          a {
            font-size: 17px;
          }
        }
      }
    }
  }
}

footer {
  padding: 100px 0px 80px 0px;
  .footer_elements {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .footer_links {
      .bold_link {
        font-weight: bold;
      }
      @include repetad_display;
      flex-direction: column;
      a {
        margin-top: 5px;
        text-decoration: none;
      }
      .social_links {
        width: 100px;
        @include repetad_display;
      }
    }
  }
}

/* RESPONSIVE  RESPONSIVE  RESPONSIVE  RESPONSIVE RESPONSIVE */
@media (min-width: 1201px) {
  .header_menu {
    display: none;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .header_menu {
    display: none;
  }
  .header_logo {
    margin-left: 20px;
  }
  .header_button {
    margin-right: 20px;
  }
  .first_section {
    background-color: $grey-background;
    padding: 100px 0px 50px 0px;

    .home_info {
      width: 680px;
      .home_info_text {
        h1 {
          font-size: 50px;
        }
      }
      .search {
        gap: 15px;
      }
    }
  }
  .second_section {
    margin-top: 100px;
    .parent_second_section {
    }

    .most_searched {
      margin-top: 100px;
      h1 {
        @include center_elements;
        text-align: center;
      }

      .most_searched_type {
        margin: 25px auto;
        width: 400px;
        @include repetad_display;
        a {
          text-decoration: none;
          font-weight: 900;
          &:hover {
            text-decoration: underline 4px;
          }
        }
      }

      .most_searched_cards_parent {
        .most_searched_cards {
          width: 200px;
          height: 360px;
          &:hover {
            width: 220px;
            height: 375px;
          }
        }
      }
    }

    .why_choose_us {
      .parent_why {
        width: 100%;
        padding: 40px 20px 35px 20px;
        .card_why {
          width: 220px;
          height: 190px;

          img {
            height: 48px;
            width: 40px;
            margin-top: 30px;
          }
          h3 {
            font-size: 13px;
          }
          p {
            margin-top: 10px;
            letter-spacing: 0px;
            font-size: 10px;
          }
        }
      }
    }
  }

  .third_section {
    margin-top: 120px;

    .who_is_boxcars {
      display: flex;
      padding-left: 3%;
      padding-top: 60px;
      margin-top: 40px;
      .left_boxcars {
        width: 25%;
        height: 220px;

        h2 {
          font-size: 29px;
        }
        p {
          word-spacing: 3px;
        }
      }
      .right_boxcars {
        width: 65%;
        padding-left: 5%;
        height: 250px;

        .right_boxes {
          width: 220px;
          height: 200px;
          margin-right: 5px;
        }
      }
    }

    .team {
      margin-top: 100px;
      h1 {
        text-align: center;
        margin-bottom: 50px;
      }

      .team_cards_parent {
        .team_cards {
          width: 175px;
          height: 260px;
          border-radius: 16px;
        }
      }
    }

    .blog_post {
      .blogpost_parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .blogpost_card {
          width: 280px;
          height: 375px;
          border-radius: 12px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  header {
    .header_menu {
      display: none;
    }
    .header_container {
      width: 95%;
      .header_logo {
        gap: 8px;
        h1 {
          font-size: 25px;
        }
        p {
          font-size: 15px;
          margin-top: 5px;
        }
      }

      .nav_links {
        @include repetad_display;
        gap: 8px;

        a {
          font-size: 14px;
          font-weight: 400;

          &:hover {
            font-size: 16px;
            font-weight: 500;
          }
        }
      }

      .header_button {
        width: 100.86px;
        height: 35.75px;
        button {
          padding: 5px;
        }
      }
    }
  }

  .first_section {
    padding: 80px;

    .home_info {
      width: 580px;
      .home_info_text {
        text-align: center;
        h1 {
          font-size: 40px;
        }
      }
      .search {
        width: 100%;
        height: 50px;
        margin-bottom: 30px;
        @include repetad_display;
        gap: 5px;
        padding: 10px 10px 0px 9px;
        a {
          margin-top: 10px;
          font-size: 14px;
          font-weight: normal;
        }
        .search_input {
          input {
            height: 35px;
            width: 180px;
            margin-top: 5px;
          }
          img {
            width: 35px;
            height: 40px;
          }
        }
      }
    }
  }

  .second_section {
    margin-top: 100px;
    .parent_second_section {
      .browsing_type {
        width: 80%;
        margin: auto;
        padding: 0px 5px 0px 5px;
        .type_box {
          width: 60px;
          height: 60px;
          border-radius: 16px;
          border: 1px 0px 0px 0px;
          &:hover {
            width: 65px;
            height: 65px;
          }
        }
      }
    }

    .browsing_type_box_parent {
      width: 90%;
      gap: 20px;
      margin: auto;
      .browsing_type_box {
        height: 250px;
        width: 390px;
        background-color: $grey-background;
        padding: 40px 10px 10px 30px;
        h2 {
          font-size: 25px;
        }
        .box_bottom {
          .bottom_box_img {
            width: 80px;
            height: 80px;
          }
          button {
            width: 110px;
            height: 38px;
            padding: 7px;

            a {
              img {
                width: 16px;
                height: 16px;
              }
            }
            &:hover {
              width: 115px;
              height: 42px;
            }
          }
        }
      }
    }

    .most_searched {
      margin-top: 80px;
      h1 {
        font-size: 20px;
      }

      .most_searched_cards_parent {
        padding-left: 50px;
        width: 100%;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-evenly;
        gap: 25px;
        margin-top: 50px;
        .most_searched_cards {
          width: 220px;
          height: 330px;
          &:hover {
            width: 240px;
            height: 350px;
          }

          h4 {
            font-size: 14px;
          }
          p {
            font-size: 13px;
          }

          .card_img {
            width: 100%;
            height: 45%;
          }

          .card_details {
            h4 {
              font-size: 12px;
            }
          }
        }
      }
    }

    .why_choose_us {
      padding-top: 25px;
      h1 {
        text-align: center;
      }
      .parent_why {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
      }
    }
  }

  .third_section {
    .third_section_parent {
      h1 {
        text-align: center;
      }
      .third_section_buttons {
        margin-left: 150px;
        gap: 20px;

        button {
          padding: 4px;
          border-radius: 12px;
          a {
            font-size: 14px;
          }
        }
      }

      .who_is_boxcars {
        width: 90%;
        margin: 50px auto;
        .left_boxcars {
          width: 25%;
          height: 200px;

          h2 {
            color: white;
            font-size: 20px;
          }
          p {
            font-size: 13px;
          }
        }
        .right_boxcars {
          @include repetad_display;
          gap: 5px;
          .right_boxes {
            border-radius: 12px;
            width: 150px;
            height: 150px;
          }
        }
      }

      .team {
        .team_cards_parent {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          margin-left: 20px;
          .team_cards {
            width: 100px;
            height: 150px;
          }
        }
      }
      .blog_post {
        margin-top: 100px;
        h1 {
          text-align: center;
          margin-bottom: 50px;
        }
        .blogpost_parent {
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(3, 1fr);
          gap: 10px;
          place-items: center;
        }
      }
      .Premium {
        .Premium_left {
          width: 370px;
          height: 320px;
          margin-top: 50px;
          h1 {
            font-size: 29px;
            margin-bottom: 10px;
          }
          button {
            width: 120px;
            height: 40px;
            &:hover {
              width: 130px;
              height: 45px;
              a {
                font-size: 15px;
              }
            }
          }
        }

        .Premium_right {
          width: 400px;
          height: 390px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .join {
        margin: 60px 0px 100px 0px;
        .joining_form {
          width: 400px;
          height: 50px;
          padding: 7px;
        }
      }
    }
  }

  footer {
    .footer_elements {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .footer_links {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        a {
          margin-top: 5px;
          text-decoration: none;
        }
        .social_links {
          width: 100px;
          @include repetad_display;
        }
      }
    }
  }
}

@media (min-width: 512px) and (max-width: 767px) {
  header {
    .header_container {
      max-width: 1300px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      @include repetad_display;
      padding-left: 20px;

      .header_logo {
        margin-top: 4px;
        gap: 5px;

        h1 {
          font-size: 16px;
        }
        p {
          font-size: 16px;
          margin-top: 1px;
        }
      }
      .header_menu {
        margin-right: 30px;
      }
      .nav_links {
        display: none;
      }

      .header_button {
        display: none;
      }
    }
  }

  .first_section {
    background-color: $grey-background;
    padding: 150px 0px 50px 0px;

    .home_info {
      width: 400px;
      .home_info_text {
        text-align: center;
        h1 {
          font-size: 24px;
          margin: 30px 0px 50px 0px;
        }
      }
      .search {
        width: 100%;
        height: 40px;
        gap: 5px;
        padding: 10px 5px 0px 10px;
        a {
          font-size: 9px;
          margin-top: 10px;
          text-decoration: none;
          font-weight: 400;
        }
        .search_input {
          gap: 10px;
          a {
            font-weight: 400;
          }
          input {
            height: 20px;
            width: 100px;
            margin-top: 6px;
          }
          img {
            width: 25px;
            height: 25px;
            margin-top: 3px;
          }
        }
      }
    }
  }
  .second_section {
    margin-top: 100px;
    .parent_second_section {
      width: 100%;
      .browsing_type {
        width: 70%;
        margin: auto;
        gap: 5px;
        padding: 0px 20px 0px 20px;
        .type_box {
          width: 50px;
          height: 40px;
          &:hover {
            width: 50px;
            height: 50px;
          }
        }
      }
    }

    .browsing_type_box_parent {
      margin-top: 50px;
      padding-top: 30px;
      flex-direction: column;
      align-items: center;
      .browsing_type_box {
        height: 220px;
        width: 330px;
        padding: 20px 10px 10px 15px;
        h2 {
          font-size: 20px;
          margin-bottom: 10px;
        }
        p {
          font-size: 14px;
          margin-bottom: 15px;
        }
        .box_bottom {
          .bottom_box_img {
            width: 70px;
            height: 70px;
          }
          button {
            width: 100px;
            height: 35px;
            padding: 4px;

            a {
              color: white;
              text-decoration: none;
              img {
                width: 10px;
                height: 110px;
              }
            }
            &:hover {
              width: 100px;
              height: 40px;
            }
          }
        }
      }
    }

    .most_searched {
      margin-top: 50px;

      .most_searched_type {
        margin: 25px auto;
        width: 300px;
        @include repetad_display;
        a {
          font-weight: 700;
          &:hover {
            text-decoration: underline 3px;
          }
        }
      }

      .most_searched_cards_parent {
        padding-left: 35px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 50px;
        gap: 10px;
        .most_searched_cards {
          width: 190px;
          height: 300px;
          &:hover {
            width: 200px;
            height: 310px;
          }

          h4 {
            font-size: 10px;
          }
          p {
            font-size: 10px;
          }
          .card_details {
            padding: 10% 5% 5%;
            a {
              font-size: 14px;

              img {
                width: 10px;
                height: 10px;
              }
            }
          }
        }
      }
    }
    .why_choose_us {
      padding-top: 25px;
      h1 {
        text-align: center;
      }
      .parent_why {
        place-items: center;
        grid-template-columns: repeat(1, 1fr);
        padding: 50px 25px 40px 0px;
      }
    }
  }

  .third_section {
    margin-top: 150px;

    h1 {
      font-size: 30px;
    }

    .third_section_buttons {
      margin-left: 30px;
      @include repetad_display;
      button {
        padding: 5px;
        a {
          font-size: 8px;
        }
      }
    }

    .who_is_boxcars {
      display: flex;
      flex-direction: column;
      place-items: center;
      padding-left: 5%;
      padding-top: 80px;
      margin-top: 50px;
      .left_boxcars {
        width: 60%;
      }
      .right_boxcars {
        width: 90%;
        margin-left: -100px;
        height: 260px;
        @include repetad_display;
        gap: 5px;
        .right_boxes {
          height: 200px;
        }
      }
    }

    .team {
      margin-top: 100px;
      h1 {
        text-align: center;
        margin-bottom: 50px;
      }

      .team_cards_parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        place-items: center;
      }
    }

    .blog_post {
      margin-top: 100px;

      .blogpost_parent {
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        place-items: center;
      }
    }

    .Premium {
      flex-direction: column;
      margin-top: 50px;
      padding: 50px 40px 40px;
      place-items: center;
      .Premium_left {
        width: 320px;
        height: 370px;
        margin-top: 50px;
        h1 {
          font-size: 22px;
        }

        button {
          width: 100px;
          height: 35px;
          border-radius: 12px;
          padding: 4px;
          a {
            font-size: 10px;
          }
          &:hover {
            width: 110px;
            height: 40px;
            a {
              font-size: 13px;
            }
          }
        }
      }

      .Premium_right {
        width: 300px;
        height: 300px;
      }
    }

    .join {
      h1,
      p {
        text-align: center;
        margin-bottom: 20px;
      }

      .joining_form {
        width: 300px;
        height: 40px;
        padding: 5px;

        input {
          font-size: 16px;
          padding-left: 4px;
        }
      }
    }
  }

  footer {
    padding: 100px 0px 80px 0px;
    .footer_elements {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      place-items: center;
      .footer_links {
        .bold_link {
          font-weight: bold;
        }
        @include repetad_display;
        flex-direction: column;
        a {
          margin-top: 5px;
          text-decoration: none;
        }
        .social_links {
          width: 100px;
          @include repetad_display;
        }
      }
      .footer_links:nth-child(5) {
        margin-left: 100px;
      }
    }
  }
}

@media (min-width: 357px) and (max-width: 511px) {
  header {
    .header_container {
      max-width: 1300px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      @include repetad_display;
      padding-left: 20px;

      .header_logo {
        margin-top: 4px;
        gap: 10px;

        h1 {
          font-size: 14px;
        }
        p {
          font-size: 10px;
          margin-top: 1px;
        }
      }
      .header_menu {
        margin-right: 30px;
        select {
          background-color: #405ff2;
          color: white;
          width: 90px;
          height: 30px;
          font-size: 15px;
        }
      }
      .nav_links {
        display: none;
      }

      .header_button {
        display: none;
      }
    }
  }

  .first_section {
    background-color: $grey-background;
    padding: 80px 0px 50px 0px;

    .home_info {
      width: 300px;
      .home_info_text {
        text-align: center;
        h1 {
          font-size: 24px;
          margin: 30px 0px 50px 0px;
        }
      }
      .search {
        width: 100%;
        height: 40px;
        gap: 1px;
        padding: 10px 5px 0px 10px;
        a {
          font-size: 9px;
          margin-top: 10px;
          text-decoration: none;
          font-weight: 400;
        }
        .search_input {
          gap: 10px;
          a {
            font-weight: 400;
          }
          input {
            height: 15px;
            width: 60px;
            margin-top: 8px;
          }
          img {
            width: 25px;
            height: 25px;
            margin-top: 3px;
          }
        }
      }
    }
  }
  .second_section {
    margin-top: 50px;
    .parent_second_section {
      width: 100%;
      .browsing_type {
        width: 70%;
        margin: auto;
        gap: 5px;
        padding: 0px 20px 0px 20px;
        .type_box {
          width: 50px;
          height: 40px;
          &:hover {
            width: 50px;
            height: 50px;
          }
        }
      }
    }

    .browsing_type_box_parent {
      margin-top: 50px;
      padding-top: 30px;
      flex-direction: column;
      align-items: center;
      place-items: center;
      .browsing_type_box {
        height: 220px;
        width: 300px;
        padding: 20px 10px 10px 15px;
        h2 {
          font-size: 20px;
          margin-bottom: 10px;
        }
        p {
          font-size: 14px;
          margin-bottom: 15px;
        }
        .box_bottom {
          .bottom_box_img {
            width: 70px;
            height: 70px;
          }
          button {
            width: 100px;
            height: 35px;
            padding: 4px;

            a {
              color: white;
              text-decoration: none;
              img {
                width: 10px;
                height: 110px;
              }
            }
            &:hover {
              width: 100px;
              height: 40px;
            }
          }
        }
      }
    }

    .most_searched {
      margin-top: 50px;

      .most_searched_type {
        margin: 25px auto;
        width: 270px;
        @include repetad_display;
        a {
          font-weight: 700;
          &:hover {
            text-decoration: underline 3px;
          }
        }
      }

      .most_searched_cards_parent {
        padding-left: 35px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 50px;
        gap: 10px;
        .most_searched_cards {
          width: 130px;
          height: 220px;
          &:hover {
            width: 130px;
            height: 220px;
          }

          h4 {
            font-size: 10px;
          }
          p {
            font-size: 10px;
          }
          .card_icons {
            height: 17px;
          }
          .card_details {
            padding: 10% 5% 5%;
            a {
              font-size: 11px;

              img {
                width: 10px;
                height: 10px;
              }
            }
          }
        }
      }
    }
    .why_choose_us {
      padding-top: 25px;
      h1 {
        text-align: center;
      }
      .parent_why {
        place-items: center;
        grid-template-columns: repeat(1, 1fr);
        padding: 50px 25px 40px 0px;
      }
    }
  }
  .third_section {
    margin-top: 150px;

    h1 {
      font-size: 16px;
      text-align: center;
    }

    .third_section_buttons {
      width: 100%;
      gap: 4px;

      @include repetad_display;
      button {
        padding: 2px;
        a {
          font-size: 11px;
        }
      }
    }

    .who_is_boxcars {
      display: flex;
      flex-direction: column;
      place-items: center;
      padding-left: 5%;
      padding-top: 80px;
      margin-top: 50px;
      .left_boxcars {
        width: 60%;
      }
      .right_boxcars {
        width: 90%;
        margin-left: -50px;
        height: 260px;
        @include repetad_display;
        gap: 5px;
        .right_boxes {
          width: 100px;
          height: 100px;
        }
      }
    }

    .team {
      margin-top: 100px;
      h1 {
        text-align: center;
        margin-bottom: 50px;
      }

      .team_cards_parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        place-items: center;

        .team_cards {
          width: 80px;
          height: 130px;
        }
      }
    }

    .blog_post {
      margin-top: 100px;

      .blogpost_parent {
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        place-items: center;

        .blogpost_card {
          width: 300px;
          height: 360px;
          .blog_post_card_text {
            width: 100%;
            height: 40%;
            padding-left: 5px;
            p {
              margin-top: 8px;
            }
            h4 {
              font-size: 15px;
              margin-top: 15px;
            }
          }
        }
      }
    }

    .Premium {
      flex-direction: column;
      margin-top: 50px;
      padding: 50px 40px 40px;
      place-items: center;
      .Premium_left {
        width: 320px;
        height: 370px;
        margin-top: 50px;
        h1 {
          font-size: 22px;
        }

        button {
          width: 100px;
          height: 35px;
          border-radius: 12px;
          padding: 4px;
          a {
            font-size: 10px;
          }
          &:hover {
            width: 110px;
            height: 40px;
            a {
              font-size: 13px;
            }
          }
        }
      }

      .Premium_right {
        width: 300px;
        height: 300px;
      }
    }

    .join {
      h1,
      p {
        text-align: center;
        margin-bottom: 20px;
        font-size: 15px;
      }

      .joining_form {
        width: 280px;
        height: 35px;
        padding: 3px;

        input {
          font-size: 15px;
          padding-left: 4px;
        }
      }
    }
  }
  footer {
    padding: 100px 0px 80px 0px;
    .footer_elements {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

      .footer_links {
        .bold_link {
          font-weight: bold;
        }
        @include repetad_display;
        flex-direction: column;
        a {
          margin-top: 5px;
          text-decoration: none;
        }
        .social_links {
          width: 100px;
          @include repetad_display;
        }
      }
    }
  }
}
